#preloader {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 80%;
  z-index: 30;
  text-align: center;

  background-color: rgba(142,158,171,1);
  background: filter-gradient(#8e9eab, #eef2f3, horizontal);
  background: background-image(linear-gradient(left top, rgba(142,158,171,1) 0%, rgba(238,242,243,1) 100%));
}
